<br>
<br>

<% @categories.each do |category| %>
<div class="dropdown">
  
    <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <%= category.name %>
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% category.skills.each do |skill| %>
        <%= button_to "#{skill.name}", add_skills_path(skill) %><br>
      <% end %>
    </ul>
  <% end %>
</div>