<div class ="splash">
	<div class="splash-letters">
		<h1 class="text-center">Sharetastic</h1>
		<h2 class="text-center accent-text" id="descrip">Share skills with your neighbors and friends</h2>
		<h2 class="text-center accent-text" id="join-descrip">  Join Sharetastic's community today!</h2>
	</div>
</div>