<div class ="team page" style="padding: 5%">
		<h2>Meet the Team</h2>
			<div class="row"> 
				<div class ="team-info" style="padding: 10%">

					<div class="well well-sm bio_holder">
						<%= image_tag("/images/Kayvon.JPG", class: "pic")%>
							<div clas="col-md-8 " style="padding-left: 10%;">
								<div class="about_text">
									<h4>Kayvon Ranjbar</h4>
										<p>Kayvon is a proud native of Richmond, VA. Kayvon graduated from the University of Virginia with a BS in Commerce. After discovering his interest in web development, he enrolled in General Assembly's Web Development Immersive, where he is currently a full stack web developer. When he's not sharing his skills, he likes playing soccer and tennis and watching movies.</p>
								</div>
							</div>
					</div>

					<div class="well well-sm bio_holder">
						<%= image_tag("/images/Alex.png", class: "pic")%>
							<div clas="col-md-8 " style="padding-left: 10%;">
								<div class="about_text">
									<h4>Alex Rao</h4>
										<p>Alex is the youngest member of the development team. He graduated from Penn State with a Mechanical Engineering degree and then took his skills to General Assembly where he became a full stack web developer.</p>
								</div>
							</div>
					</div>
			
				<div class="well well-sm bio_holder">
						<%= image_tag("/images/Kehontas.png", class: "pic")%>
							<div clas="col-md-8 " style="padding-left: 10%;">
								<div class="about_text">
									<h4>Kehontas Rowe</h4>
										<p>Kehontas is the Sharetastic project lead and is considered a multipotentialite connecting, technology, education, creativeness and social impact. Kehontas views technology as way to improve every aspect of life. She believes that Web technologies in particular not only connect individuals to each other as well as connect people to opportunities in life such as jobs, education, and exposure to otherwise limited information. Kehontas is a Mills College Alum and Veteran.</p>
								</div>
							</div>
					</div>

				<div class="well well-sm bio_holder">
						<%= image_tag("/images/Noah.png", class: "pic")%>
							<div clas="col-md-8 " style="padding-left: 10%;">
								<div class="about_text">
									<h4>Noah Wimmer</h4>
										<p>I am a web developer. I enjoy building big projects and algorithms. I have always been drawn to project based work where you create something and have a finished product and then move onto a new project. In my spare time I enjoy carpentry and surfing.</p>
								</div>
							</div>
					</div>


		</div>
</div>


	