<div class ="team page" style="padding: 5%">
		<h2>Meet the Team</h2>
		<p>Project Info Goes hare</p>
			<div class="row"> 
				<div class ="team-info" style="padding: 10%">
					<div class="well well-sm">
						<div class="col-md-2 pic">
							<%= image_tag "/images/Kayvon.JPG" %>
						</div>
						<div clas="col-md-8 " style="padding-left: 10%;">
							<div style="padding-left: 15%;">
								<h4>Kayvon Ranjbar</h4>
									<p>Team Lead<br>
										Sentence 1 <br>
										Sentence 2 <br>
										Sentence 3 <br>
										<br>
									</p>
							</div>
						</div>
					</div>

					<div class="well well-sm">
						<div class="col-md-2 pic">
							<%= image_tag "/images/Noah.png" %>
						</div>
						<div clas="col-md-8" style="padding-left: 10%;">
							<div style="padding-left: 15%;">
								<h4>Noah Wimmer</h4>
									<p>Team Lead<br>
										Sentence 1 <br>
										Sentence 2 <br>
										Sentence 3 <br>
										<br>
									</p>
							</div>
						</div>
			
			</div><br>
			<div class="well well-sm">
						<div class="col-md-2 pic">
							<%= image_tag "/images/Alex.png" %>
						</div>
						<div clas="col-md-8" style="padding-left: 10%;">
							<div style="padding-left: 15%;">
								<h4>Alex Rao</h4>
									<p>Team Lead<br>
										Sentence 1 <br>
										Sentence 2 <br>
										Sentence 3 <br>
										<br>
									</p>
							</div>
						</div>
						</div><br>
						<div class="well well-sm">
						<div class="col-md-2 pic">
							<%= image_tag "/images/Kehontas.jpg" %>
						</div>
						<div clas="col-md-8" style="padding-left: 10%;">
							<div style="padding-left: 15%;">
								<h4>Kehontas Rowe</h4>
									<p>Team Lead<br>
										Sentence 1 <br>
										Sentence 2 <br>
										Sentence 3 <br>
										<br>
									</p>
							</div>
						</div>


		</div>
</div>


	