/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 *= require splash
 */

/* Think DRY! How can you use inheritance to your advantage?*/

body {
  background-color: #F7F1F5;
}

hr {
  border-color: #222D51;
}

h3, h4, p {
  font-family: 'Raleway', sans-serif;
}

.skill-box {
  padding: 2%;
}

.reviews {
  padding-left: 5%;
  padding-right: 5%;
}

.review-context {
  padding-bottom: 10%;
}


#review-title {
  padding-right: 2%;
}

#skill-title {
  font-size: 60px;
  font-family: 'Lobster', cursive;
}

#bio {
  width: 50%;
  margin: 0 auto;
}

.team-title {
  margin: 25px;
  padding-top: 1%;
}

.team-page {
}

.context-text {
  color: #A08F87;
}

.accent-text {
  color: #222D51;
}

.btn-accent {
  background-color: #222D51;
  color: #F7F1F5;
}

.btn-accent:hover, .btn-accent:focus, .btn-accent:active, .btn-accent.active, .open > .dropdown-toggle.btn-accent {
  color: #A08F87;
}

.btn-delete {
  background-color: #97B5E8;
  color: #222D51;
}

.btn-delete:hover, .btn-delete:focus, .btn-delete:active, .btn-delete.active, .open > .dropdown-toggle.btn-delete {
  color: #A08F87;
}

.skill-btn {
  margin-bottom: 2%;
}

.btn-prof {
  display: inline-block;
}

.title {
  font-family: 'Lobster', cursive;
  font-size: 80px;
  color: #222D51;
}

.form-horizontal {
  width: 300px;
}

.navbar .nav > li > a {
  color: #222D51;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background: #fff none repeat scroll 0 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.navbar-default {
  border-radius: 0;
  background: #FFFFFF;
  border-bottom: 1px solid #E5E5E5;
}

.navbar-brand-icon {
  height: 20px;
}

#nav-title {
  color: #222D51;
  opacity: 1;
}

.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: .5;
}

.navbar-right {
 padding-right: 30px;
 float: right;
}

.navbar-header {
 padding-left: 30px;
}

@media (min-width: 760px) {

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {

    color: #555;
    background: #fff none repeat scroll 0 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-right: 10px;
  }
    
  .navbar .nav>li.dropdown.open>.dropdown-toggle, .navbar .nav>li.dropdown.active>.dropdown-toggle, .navbar .nav>li.dropdown.open.active>.dropdown-toggle {

    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
    z-index: 9999;
  }

  .navbar .nav>li>.dropdown-menu {
    float: right;
    border: 1px solid #ccc;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    /*left: -1px;*/
    min-width: 200px;
    margin: -1px 0 0;
    z-index: 9991;
  }

}