#bio {
  width: 40%;
  margin: 0 auto;
}

.bio_holder {
  position: relative;
  height: 260px;
}

.about_text {

  position: absolute;
  top: 10%;
  left: 30%;

  margin-left: 30px;
  margin-right: 5px;
}

.pic {
  margin: 8px;
}
